<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blog App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css ">
        <link rel="stylesheet" href="/stylesheets/app.css ">
    </head>
    <body>
        <div class="ui inverted segment mini">
            <div id = 'nav' class='ui menu secondary inverted'>
                <div class="ui container">
                    <!-- <div class="header item"> -->
                        <a class ='item' href = '/blogs'>
                            <i class="file icon"></i>Rhythmic Lives
                        </a>
                        
                    <!-- </div> -->

                    <!-- <a class ='item' href = '/'>HOME</a> -->
                    <a class ='item' href = '/blogs'>Blogs</a>
                    <a class ='item' href = '/blogs/new'>New</a>
                    
                    <div class="menu right">
                        <a class ='item ' href = 'about'>About</a>
                        <a class ='item' href = '/contact'>Contact Us</a>
                    </div>
                </div>
            </div>                
        </div>
        
        
        <script src="" async defer></script>
