<%- include('partials/header') %>

<div class="ui container main text">
    <h1>About us</h1>
    <p>
        We aim to connect people through this blogging platform
    </p>
</div>

<%- include('partials/footer') %>